#c {
  height: 900px;
  /*width: 250px;*/
  padding:20px;
  padding-top: 50px;
  background-color: #00bcd4;
}

#my_unique_id {
  font-family: 'Roboto';
  color:#fff;
  line-height:0;
  font-size:15px;
  text-shadow:none;
}

#my_unique_id input {
  color: "#333";
  border: none;
  background: transparent;
  border-bottom: 1px solid #9e9e9e;
  height: 3rem;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: 0.3s;
  outline: none;
}

.btn {
  text-decoration: none;
  color: #FFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
/*  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;*/
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
/*  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;*/
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  /*-webkit-tap-highlight-color: transparent;*/
}

.checkA {
  display: inline-block;
  float: left;
  width: 50px;
  height: 3rem;
}

.checkF {
  display: inline-block;
  float: left;
  width: 50px;
  height: 3rem;
}

.textA {
  display: table-cell;
  /*float: right;*/
  width: 100px;
  height: 3rem;
  vertical-align: middle;
}

.textF {
  display: table-cell;
  /*float: right;*/
  width: 100px;
  height: 3rem;
  vertical-align: middle;
}

